<section th:fragment="content">
<!--    <h1 th:text="${pageTitle}">Page title</h1>-->
<!--    <p th:text="${pageContent}">Page content</p>-->

    <div class="container mt-5">
        <h2>Race Results</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Position</th>
                <th>Driver Name</th>
                <th>Team Name</th>
                <th>Points</th>
                <th>Wins</th>
                <th>Behind</th>
                <th>Season</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ranking : ${driverRanking}">
                <td th:text="${ranking.position}"></td>
              <td>
                <img th:src="${ranking.driver.image}" width="50">
                <a th:href="@{/driver-info/{name}(name=${ranking.driver.name})}" th:text="${ranking.driver.name}"></a>
              </td>
                <td>
                  <a th:href="@{/team-info/{name}(name=${ranking.team.name})}" th:text="${ranking.team.name}"></a>
                </td>
                <td th:text="${ranking.points}"></td>
                <td th:text="${ranking.wins}"></td>
                <td th:text="${ranking.behind}"></td>
                <td th:text="${ranking.season}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>